# ================================
# Miscellaneous
# ================================
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ================================
# IntelliJ / Android Studio
# ================================
*.iml
*.ipr
*.iws
.idea/

# ================================
# VS Code
# ================================
#.vscode/

# ================================
# Flutter / Dart / Pub
# ================================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
.pub/
build/
coverage/
**/doc/api/
**/ios/Flutter/.last_build_id

# ================================
# Android
# ================================
/android/app/debug
/android/app/profile
/android/app/release

# ================================
# iOS / macOS ephemeral
# ================================
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# ================================
# Symbolication
# ================================
app.*.symbols

# ================================
# Obfuscation
# ================================
app.*.map.json
